@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Accesor;
@{

    ViewBag.Title = "PerfilUsuario";
    Layout = "../Shared/_Dashboard.cshtml";
    var nombre = Context.Session.GetString("nameUser");
    var apellidos = Context.Session.GetString("userApellidos");
    var correo = Context.Session.GetString("userCorreo");
    var cedula = Context.Session.GetString("userCedula");
    var telefono = Context.Session.GetString("userTelefono");
    var latitud = Context.Session.GetString("userLatitud");
    var longitud = Context.Session.GetString("userLongitud");
    var fechaNacimiento = Context.Session.GetString("userFechaNacimiento");
    var clave = Context.Session.GetString("userClave");
    var rol = Context.Session.GetString("userRol");
    var IdUsuario = Context.Session.GetInt32("idUser") ?? 0;



    string fechaNacimientoString = Context.Session.GetString("userFechaNacimiento");
    DateTime fechaNacimientoDateTime;

    // Intentamos convertir el string a DateTime
    if (DateTime.TryParse(fechaNacimientoString, out fechaNacimientoDateTime))
    {
        fechaNacimientoString = fechaNacimientoDateTime.ToString("yyyy-MM-dd");
    }
    else
    {
        fechaNacimientoString = "";
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil Usuario</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/ticketCR/Img/shared/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Core theme CSS (includes Boo)-->
    <link rel="stylesheet" href="~/ticketCR/css/perfilUsuario/perfilUsuario.css" asp-append-version="true"/>
</head>
<body>
<section class="padding-25 wrapper justify-content-center align-center ">
    <div class=" width-90">
            <h1 class=" header">Perfil usuario</h1>
            <form name="formulario-registro" id="formulario-registro" class="padding-25 " onsubmit="return validarFormulario()">
                <div class=" background-degradado  wrapper padding-top-50 justify-content-center align-center">

                    <div class="width-40 ">
                        <div class="fields-container">
                            <br><label for="nombre" class="">Nombre</label><br>
                                <input type="text" class="form-control " id="nombre" placeholder="Ingrese su nombre" name="nombre" required value="@nombre"><br>
               
                          
                                <label for="apellidos">Apellidos</label><br>
                                <input type="text" class="form-control " id="apellidos" placeholder="Ingrese sus apellidos" name="apellidos" value="@apellidos" required><br>


                            <label for="identificacion" class="">Número de identificación</label><br>
                            <input type="text" class="form-control" id="identificacion" placeholder="Formato: 101110111" name="identificacion" min="0" oninput="this.value = Math.abs(this.value)" maxlength="9" required value="@cedula"><br>

                            <label for="nacimiento" class="">Fecha de nacimiento</label><br>
                            <input type="text" class="form-control" id="nacimiento" name="nacimiento" min="1903-01-01" max="2005-12-31" required value="@fechaNacimientoString"><br>

                            <label for="correo" class="">Correo electrónico</label><br>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="ejemplo@yahoo.com" required value="@correo"><br>

                        </div>
               
                    </div>
                    <div class="width-40 ">
                        <br><label for="password" class="">Ingrese su contraseña</label><br>
                        <input type="password" class="form-control" id="password1" name="password" placeholder="Mínimo 8 caracteres " required value="@clave"><br><br>
                           
                                <label for="password2" class="">Ingrese nuevamente su contraseña</label><br>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Ingrese nuevamente su contraseña" required value="@clave"><br><br>
                         
                          
                                <label for="telefono" class="">Ingrese su número de teléfono</label><br>
                        <input type="text" class="form-control" id="telefono" placeholder="Formato: 88888888" name="telefono" min="0" oninput="this.value = Math.abs(this.value)" maxlength="8" required value="@telefono"><br><br>
                       
                                <label for="tipoCuenta">Tipo de cuenta:</label><br>
                                <select class=" big-form-control" name="tipoCuenta" id="tipoCuenta" required disabled>
                                    <option hidden>Seleccione el tipo</option>
                            <option value="3">Usuario comprador</option>
                                    <option value="2">Gestor eventos</option>
                                    <option value="1">Administrador</option>
                                </select><br><br>
                            


                        </div>


                    <div class="container-login100-form-btn">

                        <h4 class=" ">Arrastra el marcador para proporcionar una dirección:</h4>
                        <div id="map"></div>


                        <input type="hidden" class="form-control justify-content-center align-center "  id="latitude" readonly required value="@latitud">
        
                        <input type="hidden" class="form-control  justify-content-center align-center"  id="longitude" readonly required value="@longitud">

                        <div><br><br><button id="btn-enviar-form" type="button" class="sign-btn" onclick="validarFormulario()">Actualizar Perfil</button></div>
                        <div><br><br><button type="button" class="sign-btn" onclick="window.history.back();">Cancelar</button></div>
                    </div>
                 
                </div>


                </form>
              
        </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvTpwIJm0YHxlqtsT3eLcUNAuQbmLCU0&callback=initMap" defer></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>

        $(document).ready(function () {
            var rol = '@rol';
            $("#tipoCuenta").val(rol);
        });
        var latitud = '@latitud';
        var longitud = '@longitud';
        var IdUsuario = '@IdUsuario';
        var rol = '@rol';

    </script>
    <script src="~/ticketCR/js/perfilUsuario/perfilUsuario.js" asp-append-version="true"></script>
    <script src="~/ticketCR/js/alertas.js"></script>
    <script src="~/ticketCR/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--DATA PICKER CALENDAR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
    </body>
  
</html>




